  h1 {
    color: rgb(0, 0, 0);
  
    margin-right: 30px;

    margin-top: 20px;

    text-align: center;
  }

.input-group-append {
    cursor: pointer;
  }

.display {
    display: none;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
}

.form-check {
  margin-left: 70px;
}

.php {
  margin-left: 20px;

  background: #ffffff;

  color: #000000;

  font-family: Arial, Helvetica, sans-serif;
}