body {
    font-family: Arial, Helvetica, sans-serif;

    color: rgb(0, 0, 0);

    margin-left: 69px;
    margin-right: 69px;

    padding-left: 3px;
  }

  h1 {
    margin-right: 20px;
    margin-top: 20px;

    text-align: center;

    text-transform: uppercase;
  }

  table, th, td {
    border: 1px solid black; 
   } 

  table {
    width: 100% ; 
  }

  td:nth-child(even) {
    background-color: #f2f2f2;;
}

  th:nth-child(even) {
    background-color:  rgb(96, 1, 221);
  }

  td, th {
     border: 1px solid #ddd ; 
     padding: 8px ; 
    }

  th {
     padding-top: 12px ; 

     padding-bottom: 12px ; 

     text-align: left ; 

     background-color: rgb(111, 0, 255); 

     color: white; 
    }

    table {
      caption-side: bottom;

      border-collapse: separate;

      border-color: #ddd;
  }