.display {
    display: block;
}

body {
  background: #FFF;

  color: #000;

  font-family: Arial, Helvetica, sans-serif;

  margin-right: 10px;

  margin-left: 10px;

  orphans: 4;

  widows: 2;
}

.reason {
  page-break-inside: avoid;
}

fieldset {
    page-break-inside: avoid;
}

.answer {
    page-break-inside: avoid;
}

.container-hidden {
    height: 200px;
    width: 100%;
}

#submit {
  display: none;
}

h1 {
    color: rgb(0, 0, 0);

    margin-top: 30px;

    text-align: center;

    font-weight: bold;
  }

.php {
    display: none;
}

.form-control {
    border-color: #FFF;
}

.input-group-text-bg-light-d-block {
    border-color: #FFF;
}

.form-check {
    margin-left: 70px;
  }